// colors

$color-primary-orange: #f6755e;
$color-blue-light: #25a2c3;
$color-white: #fff;
$color-black: black;
$color-grey: grey;
$button-color: #727a82;
$button-color-2: #dee1e3;

// text colors

$text-color-1: #767d85;
$text-color-2: #c8e7f0;
$text-color-special: #fcdcd6;

// grid variables

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-2: 10rem;
$gutter-horizontal: 6rem;

// font-family{

// font-family: 'Open Sans', sans-serif;
// font-family: 'Pacifico', cursive;
// font-family: 'Montserrat', sans-serif;

// }
